-i https://pypi.org/simple/
certifi==2020.12.5
cffi==1.14.5
click==7.1.2
cryptography==3.4.6
decorator==4.4.2
flask==1.1.2
itsdangerous==1.1.0
jinja2==2.11.3
markupsafe==1.1.1
pycparser==2.20
python-dotenv==0.14.0
python-telegram-bot==12.8
tornado==6.1
werkzeug==1.0.1
